*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family : sans-serif;
    text-decoration : none;
    float:left;
    color:#000;
}
body{
    width: 100%;
    background: #001040;
}
.article{
    width : 20rem;
    margin : 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow:0 0 15px 2px #ff6633;
    background-color: #fff;
}
.picture{
    width: 100%;
    z-index: -1;
    transition: all .5s;
    top: 0;
    left: 0;
    perspective: 400px;
}
.picture img{
    width: 100%;
    transform-origin: left;
    transition: all .7s ease-in-out;
}
.article:hover .picture > img{
    transform: rotateY(180deg);
    transition: all .7s ease-in-out;
}
.picture::before{
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    background-color: #ff8800;
    left: 50%;
    top: 50%;
    transform: rotate(45deg);
    opacity: 50%;
    transition: all 1s ease-in-out;
}
.article:hover .picture::before{
    left: -200%;
    top: -200%;
    transition: all 1s ease-in-out;
}
.picture::after{
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    background-color: #ff2600;
    right: 50%;
    top: 50%;
    transform: rotate(-45deg);
    opacity: 50%;
    transition: all 1s ease-in-out;
}
.article:hover .picture:after{
    right: -200%;
    top: -200%;
    transition: all 1s ease-in-out;
}
.post{
    width : 100%;
    height: 100%;
    position : absolute;
    border-radius: 1rem;
    background: #fff;
    overflow: hidden;
    z-index: 100;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all .3s ease-in-out;
}
.article:hover .post{
    transform: scale(1);
    transition: all .3s ease-in-out;
    transition-delay: .7s;
}
.contents{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}
.contents h1{
    width: 100%;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.contents p{
    width: 100%;
    height: calc(100% - 7.5rem);
    line-height: 1.5rem;
}
.contents a{
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: .7rem;
    color: #fff;
    background-color: #ff9100;
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 3rem);
    transition: all .3s ease-in-out;
}
.contents a:hover{
    background-color: #ffa600;
    box-shadow: 0 0 10px 0 #838383;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}